 <header id="app-header" class="border-bottom p-3 bg-white">
     <div id="app-header-user-info-container" class="float-right d-inline-block position-relative">
        <div id="app-header-user-img">
            <img src="/gfs/images/noimage-icon-x225.png">
        </div>
        <div id="app-header-user-menu" class="shadow border">
            <div class="p-2">
                <i class="material-icons align-middle">person</i>
                <div class="d-inline-block"> Manage Account</div>
            </div>
            <div class="p-2">
                    <i class="material-icons align-middle">credit_card</i>
                    <div class="d-inline-block"> Manage Payment</div>
                </div>
        </div>
     </div>
</header>