<div class="p-3 border rounded  bg-white" id="heathcare-provider-qualification-form">

    <h3 class="mt-3 mb-2">Medical Registration</h3>

    <div class="form-group">
        <label for="medical-registration-number" data-required="1">Registration/License Number </label>
        <input type="text" id="medical-registration-number" name="medical_registration_number" class="form-control"
            placeholder="Medical Registration Number">
    </div>

    <div class="form-group">
        <label for="medical-registration-council" data-required="1">Registration Council</label>
        <select id="medical-registration-council" name="medical_registration_council" class='form-control'
            data-required="1">

        </select>
    </div>

    <div class="form-group">
        <label for="medical-registration-year" data-required="1">Registration Year</label>
        <input type="text" id="medical-registration-number" name="medical_registration_number" class="form-control"
            placeholder="Medical Registration Number">
    </div>

    <h3 class="mt-4 mb-2">Medical Qualification</h3>

    <div class="form-group">
        <label for="medical-degree" data-required="1">Degree</label>
        <select id="medical-degree" name="medical_degree" class="form-control">
            
        </select>
    </div>

    <div class="form-group">
        <label for="medical-university" data-required="1">College/University</label>
        <input type="text" id="medical-university" name="medical_university" class="form-control" placeholder="Name of college or university got your degree"/>
    </div>

    <div class="form-group">
        <label for="medical-degree-year-of-completion" data-required="1">Year of Completion</label>
        <input type="text" id="medical-degree-year-of-completion" name="medical_degree_year_of_completion" class="form-control"/>
    </div>
    
    <div class="mt-4 text-center">
        <a href="/signup/otp-verification/user-entry" style="text-decoration: none;">
            <div class="btn btn-primary pointer">
                <i class="material-icons align-middle">trending_flat</i>
                <label class="mb-0 pointer"> Next</label>
            </div>
        </a>
    </div>

</div>