<div class="p-3 border rounded  bg-white">
    <h3>Affiliated Facility Details</h3>
    <div class="form-group mt-2">
        <div>
            <label for="medical-facility-name" data-required="1">Facility Name </label>
            <div class="ctooltip"
                content="The name of facility will be visible to patients or users searching the facility or your profile.">
                <i class="material-icons align-middle">info</i>
            </div>
        </div>
        <input type="text" name="medical_facility_name"
            id="medical-facility-name" data-required="1"
            class="form-control" placeholder="Healthcare Facility Name">
    </div>

    <div class="form-group">
        <div>
            <label for="medical-facility-type" data-required="1">Facility Type</label>
            <div class="ctooltip"
                content="The facility type will be visible to patients or users searching the facility or your profile.">
                <i class="material-icons align-middle">info</i>
            </div>
        </div>

        <select name="medical_facility_type" 
            id="medical-facility-type" 
            class='form-control medical-facility-type-list entry-field' 
            data-required="1" placeholder="Facility type"></select>
    </div>

    <div class="form-group">
        <div>
            <label for="medical-facility-description">Facility Description/ Available Services <i class="small text-muted">(Optional)</i></label>
            <div class="ctooltip"
                content="The facility description will be visible to patients or users searching the facility or your profile.">
                <i class="material-icons align-middle">info</i>
            </div>
        </div>
        <textarea name="medical_facility_description"
            id="medical-facility-description" 
            class="form-control entry-field" placeholder="Description"></textarea>

        <p class="text-muted mt-2 small"> Please provide brief description about the facility and services provided (e.g., general and specialty surgical services, x ray/radiology services, laboratory services)</p>
    </div>

    <h3 class="mt-4">Affiliated Facility Location & Contact Information</h3>

    <div class="form-group mt-2">
        <div>
            <label>Facility Address </label>
            <div class="ctooltip"
                content="The address will be visible to patients or users searching the facility or your profile.">
                <i class="material-icons align-middle">info</i>
            </div>
        </div>

        <div class="form-group">
            <input type="text" name="medical_facility_street_address_1" 
                id="medical-facility-street-address-1" 
                class="form-control mt-2 entry-field" data-required="1"
                placeholder="Street Address line #1">
        </div>

        <div class="form-group">
            <input type="text" name="medical_facility_street_address_2" 
                id="medical-facility-street-address-2" 
                class="form-control mt-2 entry-field" 
                placeholder="Street Address line #2 (Optional)">
        </div>
        
        <div class="row mt-2">

            <div class="col">
                <input type="text" name="medical_facility_city" 
                    id="medical-facility-city" data-required="1"
                    class="form-control entry-field" placeholder="City">
            </div>

            <div class="col">
                <input type="text" name="medical_facility_zip_code" 
                    id="medical-facility-zip-code" 
                    class="form-control entry-field" data-required="1"
                    placeholder="Zip/Postal code">
            </div>
        </div>

        <div class="row mt-2">
            <div class="col">
                <input type="text" name="medical_facility_state" 
                    id="medical-facility-address-state" 
                    class="form-control entry-field" data-required="1"
                    placeholder="State">
            </div>
            <div class="col">
                <select name="medical_facility_country" 
                    id="medical-facility-country" 
                    class="form-control country-name-option-list entry-field"  
                    placeholder="country"
                    data-required="1"></select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div>
            <label>Facility Contact </label>
            <div class="ctooltip"
                content="The contact information will be visible to patients and users searching the facility or your profile.">
                <i class="material-icons align-middle">info</i>
            </div>
        </div>

        <div class="mt-2 multiple-contact-info-outer-container">
            <div class="multiple-contact-info-inner-container multiple-data-entry" 
                data-required="1" name="medical_facility_contact_info"></div>
            <div class="mt-2 add-contact d-inline-block">
                <div class="btn btn-success">
                    <label class="pointer m-0">Add Contact</label>
                </div>
            </div>
                        
        </div>
    </div>

    <div class="mt-5">
        <h3 class="d-inline-block">Your Availability At Above Location</h3>
        <div class="ctooltip"
                content="The availability information is utilized to show next available appointments to users or patients.">
                <i class="material-icons">info</i>
            </div>
    </div>

    <div class="mt-2">
        <% include availability-details %>
    </div>

    <div style="height: 40px;" class="mt-4 pt-2 border-top">
        <div class="float-left">
            <div class="btn btn-secondary pointer previous-step-button step-click" stepnum="3">
                <label class="mb-0 mt-1 pointer align-middle"> ← Previous</label>
            </div>
        </div>

        <div class="float-right">
            <div class="btn btn-success pointer create-profile-button">
                <i class="material-icons align-middle">person</i>
                <label class="mb-0 pointer"> SAVE AND CREATE PROFILE</label>
            </div>
        </div>
    </div>

</div>