 <!-- <h3>Availability Details</h3> -->

 <div class="multiple-availability-outer-container">
        
    <div class="multiple-availability-inner-container multiple-data-entry entry-field" 
        data-required="1"></div>

    <div class="mt-2 add-availability-days">
        <div class="btn btn-success"><label class="m-0 pointer">Add Days</label></div>
    </div>

</div>