<div class="p-3 border rounded  bg-white">

    <!-- <h3>Availability Details</h3> -->

    <div class="multiple-availability-outer-container">
        
        <div class="multiple-availability-inner-container"></div>

        <div class="mt-2 add-availability-days">
            <div class="btn btn-success"><label class="m-0 pointer">Add Days</label></div>
        </div>

    </div>

    <div class="mt-4 text-right">
        <div class="btn btn-primary pointer next-button" nextstepnum="5">
            <i class="material-icons align-middle">trending_flat</i>
            <label class="mb-0 pointer"> Next</label>
        </div>
    </div>

</div>