<!DOCTYPE html>
<html>

<head>
    <% include ../partials/common/load-scripts %>
</head>

<body>
    <% include ../partials/common/left-pane %>
    <% include ../partials/common/header %>

    <div id="app-right-pane-container">

        <div class="container-fluid mt-3">
            
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="tile white-tile mb-2 practice-row position-relative">
                        <div class="position-absolute" style="top:8px;right:5px;">
                            <div class="btn btn-primary btn-sm"><label class="m-0 pointer">Edit</label></div>
                        </div>
                        <div>
                            <h4 class="d-inline-block">Practice Name</h4>
                            <div class="dot-seprator d-inline-block">Private Practice</div>
                        </div>
                        <div class="small text-muted mb-2">Doctors Office</div>   
                        <div class="small border-bottom">
                            <label>Address: </label>
                            <span class="text-muted">2/35 Juhu Sameep, New Versova Link Road, Andheri (West), Mumbai, 400053, Maharashtra, India</span>
                        </div>
                        <div class="small border-bottom mt-2">
                            <div class="d-inline-block mr-2"><label>Contact: </label></div>
                            <div class="d-inline-block align-top text-muted">
                                <div><b>990290290</b> (Home)</div>
                                <div><b>990290290</b> (Fax)</div>
                                <div><b>990290290</b> (Business Number)</div>
                            </div>
                        </div>
                        <div class="small mt-2">
                            <div class="d-inline-block mr-2"><label>Hours: </label></div>
                            <div class="d-inline-block align-top text-muted">
                                <div>Monday: <b>Closed</b></div>
                                <div>Tuesday: <b>2:30pm to 4:30pm</b>, <b>5:30pm to 10:30pm</b></div>
                                <div>Wednesday: <b>Closed</b></div>
                                <div>Thursday: <b>Closed</b></div>
                                <div>Friday: <b>Closed</b></div>
                            </div>
                        </div>
                    </div>
                    <div class="tile white-tile mb-2 practice-row position-relative">
                        <div>
                            <h4 class="d-inline-block">Practice Name</h4>
                            <div class="dot-seprator d-inline-block">Private Practice</div>
                        </div>
                        <div class="position-absolute" style="top:8px;right:5px;">
                            <div class="btn btn-primary btn-sm"><label class="m-0 pointer">Edit</label></div>
                        </div>
                        <div class="small text-muted mb-2">Doctors Office</div>   
                        <div class="small border-bottom">
                            <label>Address: </label>
                            <span class="text-muted">2/35 Juhu Sameep, New Versova Link Road, Andheri (West), Mumbai, 400053, Maharashtra, India</span>
                        </div>
                        <div class="small border-bottom mt-2">
                            <div class="d-inline-block mr-2"><label>Contact: </label></div>
                            <div class="d-inline-block align-top text-muted">
                                <div><b>990290290</b> (Home)</div>
                                <div><b>990290290</b> (Fax)</div>
                                <div><b>990290290</b> (Business Number)</div>
                            </div>
                        </div>
                        <div class="small mt-2">
                            <div class="d-inline-block mr-2"><label>Hours: </label></div>
                            <div class="d-inline-block align-top text-muted">
                                <div>Monday: <b>Closed</b></div>
                                <div>Tuesday: <b>2:30pm to 4:30pm</b>, <b>5:30pm to 10:30pm</b></div>
                                <div>Wednesday: <b>Closed</b></div>
                                <div>Thursday: <b>Closed</b></div>
                                <div>Friday: <b>Closed</b></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    <!-- <link rel="stylesheet" type="text/css" href="/src/css/summary.css"> -->
    <script type="module" src="/src/js/manage-practices.js"></script>

</body>

</html>