@import url("/efs/core/styles/core.css");
@import url('/efs/core/images/fontawesome/css/all.css');

.field-container:hover{
    background-color: whitesmoke;
    cursor: pointer;
}

.field-name{
    width: 100px;
}

.field-value{
    flex-grow: 2;
}