@import url("/efs/core/styles/core.css");
@import url('/efs/core/images/fontawesome/css/all.css');

.field-container:hover{
    background-color: whitesmoke;
}

.field-name{
    width: 100px;
}

.field-name-lg{
    width: 150px;
}

.field-value{
    margin-left:10px ;
    flex-grow: 2;
}