@import url("/efs/core/styles/core.css");
@import url('/efs/core/images/fontawesome/css/all.css');

.field-container:hover{
    background-color: whitesmoke;
}

.field-name{
    width: 100px;
    white-space: nowrap;

}

.field-name-lg{
    min-width: 145px;
    width: 145px;
    white-space: nowrap;
}

.field-value{
    margin-left:15px ;
    flex-grow: 2;
}