:root {
    --left-desktop-pane-width: 250px;
    --left-mobile-pane-width: 45px;
    --right-pane-desktop-left-pos:252px;
    --right-pane-mobile-left-pos:48px;
    --pane-top-pos:65px;
    --pane-bg-color:#4250b2;
}

#app-left-pane-container{
    position: fixed;
    left: 0px;
    top: var(--pane-top-pos);
    bottom: 0; 
    background-color: white;
}

#app-left-pane-container a{
    color: inherit;
    text-decoration: none;
}

#app-right-pane-container{
    position: absolute;
    top: var(--pane-top-pos);
    bottom: 0;
    right: 0px;
    background-color: whitesmoke;
    overflow: auto;
}

/* For Desktop view  */
@media screen and (min-width: 768px) {
   
    #app-left-pane-container{
        width: var(--left-desktop-pane-width);
    }

    #app-left-pane-container .app-menu-item{
        padding: 8px 16px;
    }

    #app-right-pane-container{
        left:var(--right-pane-desktop-left-pos);
    }
}


/* For Smaller Mobile less than 1441px */
@media screen and (max-width: 768px) {
    #app-left-pane-container{
        width: var(--left-mobile-pane-width);
    }

    #app-left-pane-container .app-menu-item{
        padding: 14px;
    }

    #app-left-pane-container .app-menu-item .menu-text{
        display: none;
    }

    #app-right-pane-container{
        left:var(--right-pane-mobile-left-pos);
    }
}

