.progress-ring{
    z-index: 1;
    position: absolute;
}

.bg-progress-ring{
    position: absolute;
}

.progress-ring-circle{
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.percent-text{
    position: absolute;
    left: 35px;
    top: 35px;
    font-size: 35px;
    right: 60px;
}