<div id="edit-medical-degree" class="form" userid="<%=user_info._id%>">

    <h3 class="mt-2">
        <div class="pointer d-inline-block mr-2 btn-rounded align-middle bg-default cancel-go-back"
            style=" line-height: 42px;width: 40px;height: 40px;">
            <i class="material-icons align-middle text-white">keyboard_arrow_left</i>
        </div>
        <span>Medical Degree</span>
    </h3>

    <div class="tile white-tile rounded mt-2">
        <p class="text-muted">
            Updating the medical degree will update the information everywhere in our applications and apps.
        </p>
        <div class="form-group mt-2">

            <div name="medical_degree" id="medical-degree-search-container"
                class="multi-select-container hide-off-focus-outer-container entry-field" data-required="1"
                placeholder="Medical Degree">
                <div class="selected-items mb-2" id="medical-degree"></div>
                <div class="position-relative search-outer-container">
                    <input type="text" class="form-control search-box" placeholder="Search Degree">
                    <div class="search-results-container hide-off-focus-inner-container"></div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="medical-degree-year-of-completion">Year of Completion <i class="small text-muted">(Optional)</i></label>
            <select name="medical_degree_year_of_completion" 
                id="medical-degree-year-of-completion" 
                class="form-control years-dropdown entry-field" 
                placeholder="Year of Completion"></select>
        </div>
    
        <div class="form-group">
            <label for="medical-years-of-experience" >Years of Experience <i class="small text-muted">(Optional)</i></label>
            <input type="number"  name="medical_years_of_experience" 
                id="medical-years-of-experience"
                class="form-control entry-field" placeholder="Years of Experience" />
        </div>

        <div class="mt-2 text-right">
            <div class="btn btn-primary d-inline-block pointer done-button">
                <label class="m-0 pointer">Done</label>
            </div>
        </div>
    </div>

    <script type="module">

        import {healthcareProviderActions as actions} from '/src/js/healthcare-provider-form-actions.js';
        import {formjs,insertValues} from '/efs/utilities/lib/js/form.js';

        let _formjs=new formjs();
        let userInfo={};

        let form=$('#edit-medical-degree');
        let userid=$(form).attr('userid');

        //-- Year Drop down --- 
        actions.bindFields.setYearDropDownField($(form).find('.years-dropdown'));
        
        actions.bindFields.setMedicalDegressComboField($('#medical-degree-search-container')).then(r=>{
            
            //-- Get user information -- 
            return $.getJSON('/account/api/user/get',{
                "_id":userid
            });
            
        }).then(user=>{

            userInfo=user[0];

            //-- insert value 
            let _insert=new insertValues({
                "container":$(form),
                "fieldCallbacks":actions.fieldCallbacks//callback especially for the onselect multi select field
            }).insert(user[0]);

        }).catch(err=>{
            console.error(err);
        });

        $('#edit-medical-degree .done-button').click(function(){
            popup.onScreen("Updating");
            
            try {

                //-- validate form -- 
                let errCount=_formjs.validateForm($(form),'entry-field');

                 if(errCount>0) throw "validation error";

                 //-- save the information 
                 let formData={};

                $(form).find('.entry-field').each(function(){
                    formData=Object.assign(formData,_formjs.getFieldData(this));
                });

                //save this information in the db
                let data = _formjs.convertJsonToFormdataObject(formData);
                data.append("_id",$(form).attr('userid'));

                $.ajax({
                    "url": '/account/api/user/update',
                    "processData": false,
                    "contentType": false,
                    "data": data,
                    "method": "POST"
                }).done(res=>{
                    window.location.reload();
                });

            } catch (error) {
                popup.remove();
                console.error(error);
            }
        });

    </script>
</div>