<div id="provider-qualification-form" class="form mb-4" userid="<%=user_info._id%>">
    
    <h3 class="mt-2">
        <div class="pointer d-inline-block mr-2 btn-rounded align-middle bg-default cancel-go-back"
            style=" line-height: 42px;width: 40px;height: 40px;">
            <i class="material-icons align-middle text-white">keyboard_arrow_left</i>
        </div>
        <span>Provider qualification</span>
    </h3>

    <div class="p-3 border rounded  bg-white">
        
        <div class="form-group">
            <div>
                <label for="medical-degree" data-required="1">Degree </label>
                <div class="ctooltip"
                    content="The degree information will be visible to all users and patients viewing your profile">
                    <i class="material-icons align-middle">info</i>
                </div>
            </div>
            <div name="medical_degree"  id="medical-degree-search-container" 
                class="multi-select-container hide-off-focus-outer-container entry-field" 
                data-required="1" placeholder="Medical Degree">
                <div class="selected-items mb-2" id="medical-degree"></div>
                <div class="position-relative search-outer-container">
                    <input type="text" class="form-control search-box" placeholder="Search Degree">
                    <div class="search-results-container hide-off-focus-inner-container"></div>
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <label for="medical-degree-year-of-completion">Year of Completion <i class="small text-muted">(Optional)</i></label>
            <select name="medical_degree_year_of_completion" 
                id="medical-degree-year-of-completion" 
                class="form-control years-dropdown entry-field" 
                placeholder="Year of Completion"></select>
        </div>
    
        <div class="form-group">
            <label for="medical-years-of-experience" >Years of Experience <i class="small text-muted">(Optional)</i></label>
            <input type="number"  name="medical_years_of_experience" 
                id="medical-years-of-experience"
                class="form-control entry-field" placeholder="Years of Experience" />
        </div>
    
        <h3 class="mt-3 mb-2">Medical Registration</h3>
    
        <div class="form-group">
            <div>
                <label for="medical-registration-number" data-required="1">Registration/License Number </label>
                <div class="ctooltip"
                    content="The medical registration number is not viewable to users or patients. 
                    Medical Registration information helps us validate your profile and proof of right to practice.">
                    <i class="material-icons align-middle">info</i>
                </div>
            </div>
            <input type="text" name="medical_registration_number" 
                id="medical-registration-number" 
                class="form-control entry-field" data-required="1"
                placeholder="Medical Registration Number">
        </div>
    
        <div class="form-group">
            <div>
                <label for="medical-registration-council" data-required="1">Registration Council </label>
                <div class="ctooltip"
                    content="The medical council information is not viewable to users or patients. 
                    Medical council information helps us validate your profile and proof of right to practice.">
                    <i class="material-icons align-middle">info</i>
                </div>
            </div>
            <div id="medical-registration-council-search-container" 
                name="medical_registration_council"
                class="multi-select-container hide-off-focus-outer-container entry-field" 
                data-required="1" placeholder="Medical Registration Council">
                <div class="selected-items mb-2" id="medical-registration-council" ></div>
                <div class="position-relative search-outer-container">
                    <input type="text" class="form-control search-box" 
                        placeholder="Search Medical Council">
                    <div class="search-results-container hide-off-focus-inner-container"></div>
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <div>
                <label for="medical-registration-year" data-required="1">Registration Year </label>
                <div class="ctooltip"
                    content="The medical registration year is not viewable to users or patients. 
                    The medical registration helps us validate your profile and proof of right to practice.">
                    <i class="material-icons align-middle">info</i>
                </div>
            </div>
            <select  name="medical_registration_year" 
                id="medical-registration-year" data-required="1"
                class="form-control years-dropdown entry-field" 
                placeholder="Year of Medical Registration"></select>
        </div>
    
        <div class="form-group">
    
            <div>
                <label for="medical-registration-file" data-required="1">Attach your medical Registration </label>
                <div class="ctooltip"
                    content="The medical registration is not viewable to users or patients. 
                    The medical registration helps us validate your profile and proof of right to practice.">
                    <i class="material-icons align-middle">info</i>
                </div>
            </div>
    
            <div id="medical-registration-file-container"
                name="medical_registration_file" 
                class="mt-2 p-2 position-relative text-center droppable-file-container entry-field" 
                data-required="1"
                placeholder="Medical Registration">
    
                <div class="droppable-file-action-container">
    
                    <label>Drag and drop or upload the file</label>
    
                    <div class="position-relative mt-2 upload-file-container">
                        <div class="upload-img-container">
                            <input type="file" 
                                id="medical-registration-file" 
                                class="form-control">
                            <div class="btn btn-success input-overlay small">Upload File</div>
                        </div>
                    </div>
    
                </div>
    
                <div class="droppable-file-preview-container">
                    <div class="droppable-file-preview-content"></div>
                    <div class="droppable-file-preview-remove">
                        <i class="material-icons">clear</i>
                    </div>
                </div>
    
            </div>
    
        </div>
    
    
        <h3 class="mt-4 mb-2">Other Details</h3>
        <div class="form-group">
            <label for="known-languages">Languages <i class="small text-muted">(Optional)</i></label>
            
            <div name="known_languages"  
                id="known-languages-search-container" 
                class="multi-select-container hide-off-focus-outer-container entry-field">
    
                <div class="selected-items mb-2" id="known-languages"></div>
                <div class="position-relative search-outer-container">
                    <input type="text" class="form-control search-box" placeholder="Search Language">
                    <div class="search-results-container hide-off-focus-inner-container"></div>
                </div>
                
            </div>
        </div>

        <div style="height: 40px;" class="mt-4 pt-2 border-top">
            <div class="btn btn-primary pointer ml-3 float-right done-button">
                <label class="mb-0 pointer"> Done</label>
            </div>
        </div>

    </div>
</div>
