<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/common/load-scripts %>

</head>

<body>
    <% include ../../partials/common/header-only-name %>
    
    <section style="margin-top:80px">

        <div class="p-3 text-center" id="tabs-container">

            <div class="tabs tab-enabled d-inline-block" stepnum="1" showel="heathcare-provider-personal-info-form">
                <div class="btn-rounded-sides d-inline-block bg-primary">1. Personal Info</div>
            </div>

            <div class="tabs tab-disabled arrow-before" stepnum="2" showel="heathcare-provider-qualification-form">
                <div class="btn-rounded-sides d-inline-block bg-light text-muted">2. Qualification Details</div>
            </div>

            <div class="tabs tab-disabled arrow-before" stepnum="3" showel="heathcare-provider-practice-selection">
                <div class="btn-rounded-sides d-inline-block bg-light text-muted">3. Practice Details</div>
            </div>

            <div class="tabs tab-disabled arrow-before" stepnum="4" showel="heathcare-provider-availability-details-form">
                <div class="btn-rounded-sides d-inline-block bg-light text-muted">4. Availability Details</div>
            </div>

            <div class="tabs tab-disabled arrow-before" stepnum="5" showel="heathcare-provider-create-profile-form">
                <div class="btn-rounded-sides d-inline-block bg-light text-muted">4. Review & Create Profile
                </div>
            </div>

        </div>


        <div class="container">

            
            <div id="form-parent-content-container" class="mt-3 mb-5 container">

                <div stepnum='1' class="form-content-container" id="heathcare-provider-personal-info-form">
                    <% include ../../partials/healthcare-provider/personal-info %>
                </div>

                <div stepnum='2' class="form-content-container" id="heathcare-provider-qualification-form">
                    <% include ../../partials/healthcare-provider/qualification %>
                </div>

                <div stepnum='3' class="form-content-container" id="heathcare-provider-practice-selection">
                    <% include ../../partials/healthcare-provider/practice-type-selection %>
                </div>

                <div stepnum="3.1" class="form-content-container" id="heathcare-provider-affiliation-details-form">
                    <% include ../../partials/healthcare-provider/affiliation-details %>
                </div>

                <div stepnum="3.2" class="form-content-container" id="heathcare-provider-private-practice-details-form">
                    <% include ../../partials/healthcare-provider/private-practice-details %>
                </div>

                <div stepnum='4' class="form-content-container" id="heathcare-provider-availability-details-form">
                    <% include ../../partials/healthcare-provider/availability-details %>
                </div>

            </div>

        </div>

    </section>

    <link href="/src/css/enroll.css" rel="stylesheet" type="text/css"/>
    <script src="/src/js/enroll.js" type="text/javascript"></script>

</body>

</html>