<header id="app-header-only-name" class="border-bottom p-3 bg-white">
   <a href="/summary">
      <div class="text-center">
         <img src="/gfs/images/ownInventionIcon.png" style="width:40px">
         <div class="d-inline-block font-weight-bold medium" style="letter-spacing: 0.06em;"> OWNINVENTION ACCOUNT SUMMARY</div>
      </div>
   </a>
</header>