<div id="app-left-pane-container">
    <div id="app-left-pane-logo" class="bor-B-g-1px p-3">
        <img src="/gfs/images/ownInventionIcon.png" style="width:30px">
        <div class="d-inline-block ml-2" style="letter-spacing: 0.06em;"><b>OWNINVENTION</b></div>
    </div>
    <div class="p-3 app-left-pane-menu-item">
        <i class="material-icons align-middle">person</i>
        <div class="d-inline-block ml-2 m-txt">Profile</div>
    </div>
    <div class="p-3 app-left-pane-menu-item">
            <i class="material-icons align-middle">credit_card</i>
            <div class="d-inline-block ml-2 m-txt">Payment</div>
        </div>
</div>