<div id="app-left-pane-container">

    <div class="push-right mobileview-inline-container pointer p-2" 
        id="hide-left-pane-mobile-button">
        <i class="fas fa-bars"></i>
    </div>

    <a href="/">
        <div id="app-left-pane-logo" class="bor-B-g-1px p-2">
            <img src="/efs/core/images/ownInventionIcon.png" style="width:30px">
            <div class="d-inline-block ml-2 small" style="letter-spacing: 0.06em;">
                <b>OWNINVENTION</b>
            </div>
        </div>
    </a>
    <div>
        <a href="/">
            <div class="p-2 app-left-pane-menu-item">
                <i class="fas fa-user"></i>
                <div class="d-inline-block ml-2 small">Profile</div>
            </div>
        </a>
        <a href="/appointments">
            <div class="p-2 app-left-pane-menu-item">
                <i class="far fa-calendar-check"></i>
                <div class="d-inline-block ml-2 small">My Appointments</div>
            </div>
        </a>
        <% if ('login_user_type' in userInfo && userInfo.login_user_type=='healthcare_provider') {%>
        <a href="/practice-management">
            <div class="p-2 app-left-pane-menu-item">
                <i class="fas fa-clinic-medical"></i>
                <div class="d-inline-block ml-2 small">Practice Management</div>
            </div>
        </a>
        <a href="/payment-management">
            <div class="p-2 app-left-pane-menu-item">
                <i class="fas fa-credit-card"></i>
                <div class="d-inline-block ml-2 small">Payment & Transactions</div>
            </div>
        </a>
        <a href="/subscription-management">
            <div class="p-2 app-left-pane-menu-item">
                <i class="fas fa-user"></i>
                <div class="d-inline-block ml-2 small">Subscriptions</div>
            </div>
        </a>
        <% } %>

        <% if ('login_user_type' in userInfo && userInfo.login_user_type=='patient') {%>
        <a href="/#">
            <div class="p-2 app-left-pane-menu-item">
                <i class="fas fa-vial"></i>
                <div class="d-inline-block ml-2 small">My Tests</div>
            </div>
        </a>
        <a href="/#">
            <div class="p-2 app-left-pane-menu-item">
                <i class="fas fa-notes-medical"></i>
                <div class="d-inline-block ml-2 small">My Visits</div>
            </div>
        </a>
        <a href="/#">
            <div class="p-2 app-left-pane-menu-item">
                <i class="fas fa-prescription-bottle-alt"></i>
                <div class="d-inline-block ml-2 small">My Medications</div>
            </div>
        </a>
        <% } %>
        <div class="p-2 app-left-pane-menu-item">
            <i class="fas fa-fingerprint"></i>
            <div class="d-inline-block ml-2 small">Security</div>
        </div>

        <!-- <div class="p-2 app-left-pane-menu-item">
            <i class="material-icons align-middle">web</i>
            <div class="d-inline-block ml-2 small">Website</div>
        </div> -->




        <!-- <div class="p-2 app-left-pane-menu-item">
            <i class="material-icons align-middle">alarm</i>
            <div class="d-inline-block ml-2 small">Appointments</div>
        </div>
        <div class="p-2 app-left-pane-menu-item">
            <i class="material-icons align-middle">alarm_on</i>
            <div class="d-inline-block ml-2 small">Tasks</div>
        </div> -->

    </div>

    <script>
        $('#hide-left-pane-mobile-button').click(function () {
            $('#app-left-pane-container').slideUp(100);
        });
    </script>

</div>