<div id="app-left-pane-container">
    
    <div class="push-right mobileview-container pointer" id="hide-left-pane-mobile-button">
        <i class="material-icons">format_indent_decrease</i>
    </div>

    <a href="/">
        <div id="app-left-pane-logo" class="bor-B-g-1px p-2">
            <img src="/efs/core/images/ownInventionIcon.png" style="width:30px">
            <div class="d-inline-block ml-2 small" style="letter-spacing: 0.06em;">
                <b>OWNINVENTION</b>
            </div>
        </div>
    </a>

    <a href="/">
        <div class="p-2 app-left-pane-menu-item">
            <i class="material-icons align-middle">person</i>
            <div class="d-inline-block ml-2 small">Summary</div>
        </div>
    </a>

    <a href="/subscriptions">
        <div class="p-2 app-left-pane-menu-item">
            <i class="material-icons align-middle">touch_app</i>
            <div class="d-inline-block ml-2 small">Subscriptions</div>
        </div>
    </a>
    
    <!-- <div class="p-2 app-left-pane-menu-item">
        <i class="material-icons align-middle">web</i>
        <div class="d-inline-block ml-2 small">Website</div>
    </div> -->
    <div class="p-2 app-left-pane-menu-item">
        <i class="material-icons align-middle">fingerprint</i>
        <div class="d-inline-block ml-2 small">Security</div>
    </div>

    <a href="/payments">
        <div class="p-2 app-left-pane-menu-item">
            <i class="material-icons align-middle">credit_card</i>
            <div class="d-inline-block ml-2 small">Payment Methods</div>
        </div>
    </a>

    <!-- <div class="p-2 app-left-pane-menu-item">
        <i class="material-icons align-middle">alarm</i>
        <div class="d-inline-block ml-2 small">Appointments</div>
    </div>
    <div class="p-2 app-left-pane-menu-item">
        <i class="material-icons align-middle">alarm_on</i>
        <div class="d-inline-block ml-2 small">Tasks</div>
    </div> -->

    <script>
        $('#hide-left-pane-mobile-button').click(function () {
            $('#app-left-pane-container').slideUp(100);
        });
    </script>
    
</div>