<!DOCTYPE html>
<html>

<head>
    <% include ../partials/common/load-scripts %>
</head>

<body>

    <div id="app-root"></div>

    <script type="module" src="/src/dist/app.bundle.js"></script>

</body>

</html>