<!DOCTYPE html>
<html>

<head>
    <% include ../partials/load-scripts %>
</head>

<body>
    <% include ../partials/header %>
    <section id="summary" class="container-fluid" style="margin-top: 100px;">

        <div class="row">
            <!-- row1 / col 1: outer columns -->
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">
                <!-- ACCOUNT INFORMATION -->
                <div class="tile white-tile">
                    <div class="tile-header">
                        <i class="material-icons align-middle">group</i> Account
                    </div>

                    <div id="account-info-container">
                        <div class="text-center mgB-T-L">
                            <img src="/src/images/loading.gif" style="width:40px;">
                        </div>
                    </div>

                </div>

                <!-- PAYMENT INFORMATION -->
                <div class="tile white-tile mgB-T-L">
                    <div class="tile-header">
                        <div class="d-inline-block">
                            <i class="material-icons align-middle">payment</i> Payment Methods
                        </div>
                        <div class="pos-a btn btn-primary sm-txt" style="right:5px;top:0px;"> Add Payment</div>
                    </div>
                
                    <div id="payment-method-info-container">
                        <div class="text-center mgB-T-L">
                            <img src="/src/images/loading.gif" style="width:40px;">
                        </div>
                    </div>
                
                </div>
                
            </div>
            <!-- row1 / col 2: outer columns -->
            <div class="col-sm-12 col-md-12 col-lg-6 col-xl-6">

                <!-- TRANSACTIONS INFORMATION -->
                <div class="tile white-tile">
                    <div class="tile-header">
                        <i class="material-icons align-middle">group</i> Transactions
                    </div>

                    <div id="payment-transactions-info-container">
                        <div class="text-center mgB-T-L">
                            <img src="/src/images/loading.gif" style="width:40px;">
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>
    
    <script src="/src/js/payment.js"></script>

</body>

</html>