<!DOCTYPE html>
<html>

<head>
    <% include ../partials/common/load-scripts %>
</head>

<body>
    <% include ../partials/common/left-pane %>
    <% include ../partials/common/header %>

    <div id="app-right-pane-container">

        <div class="container-fluid mt-3" id="practices-outer-container"></div>

    </div>


    <!-- <link rel="stylesheet" type="text/css" href="/src/css/summary.css"> -->
    <script type="module" src="/src/js/manage-practices.js"></script>

</body>

</html>