<!DOCTYPE html>
<html>

<head>
    <% include ../partials/common/load-scripts %>
</head>

<body>
    <% include ../partials/common/header %>
    <% include ../partials/common/left-pane %>

    <div id="app-right-pane-container">

        <div id="profile-root"></div>

    </div>

    <script type="module" src="/src/dist/profile.bundle.js"></script>

</body>

</html>