<!DOCTYPE html>
<html>

<head>
    <% include ../../../partials/load-scripts %>
    <style>
        .step-tabs:nth-child(n+2)::before{
            content:'keyboard_arrow_right';
            font-family: 'Material Icons';
            display: inline-block !important;
            margin: 0 15px;
            vertical-align: middle;
            font-size: 2em;
            color: #f0f0f0;
        }

        .step-tabs{
            display: inline-block;
            vertical-align: middle;
        }

        .step-name{
            padding: 5px 15px;
            background-color: cadetblue;
            color: white;
            position: relative;
        }

        .step-name::before{
            content: "";
            width: 34px;
            height: 34px;
            background-color: cadetblue;
            display: inline-block;
            vertical-align: top;
            position: absolute;
            left: -18px;
            border-radius: 50%;
            top: 0;
            border-right: 18px solid transparent;
            z-index: 0;
        }

        .step-name::after{
            content: "";
            width: 34px;
            height: 34px;
            background-color: cadetblue;
            display: inline-block;
            vertical-align: top;
            position: absolute;
            right: -18px;
            border-radius: 50%;
            top: 0;
            border-right: 18px solid transparent;
            z-index: 0;
        }
        .step-tabs:nth-child(n+2) .step-name,
        .step-tabs:nth-child(n+2) .step-name::before,
        .step-tabs:nth-child(n+2) .step-name::after{
            background-color: #f0f0f0;
            color: grey;
        }
        
    </style>
</head>

<body>
    <% include ../../../partials/header %>

    </div>

    <section class="top-section" style="margin-top:80px;">

        <div class="container" >

            <div class="text-center" >
                <div class="p-3">

                    <div class="step-tabs d-inline-block" stepnum="1">
                        <div class="step-name d-inline-block">1. Personal Info</div>
                    </div>

                    <div class="step-tabs" stepnum="2">
                        <div class="step-name d-inline-block">2. Qualification Details</div>
                    </div>

                    <div class="step-tabs" stepnum="3">
                        <div class="step-name d-inline-block">3. Practice & Availability Details</div>
                    </div>

                    <div class="step-tabs" stepnum="4">
                        <div class="step-name d-inline-block">4. Review & Create Profile</div>
                    </div>

                </div>
            </div>

            <div id="form-content-container" class="mt-3 mb-5 container">
                
                <div class="p-3 border rounded" id="demographics-form">

                    <div class="form-group">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4">
                                <label for="first-name" data-required="1">First Name </label>
                                <input type="text" name="first_name" id="first-name" class="form-control" placeholder="First name">
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8">
                                <label for="last-name" data-required="1">Last Name </label>
                                <input type="text" name="last_name" id="last-name" class="form-control" placeholder="Last name">
                            </div>
                          </div>
                    </div>

                    <div class="form-group">
                        <label for="email-id" data-required="1">Email ID </label>
                        <input id="email-id" name="email_id" class='form-control' type="email" data-required="1" autocomplete="off">
                    </div>

                    <div class="form-group">
                        <label for="phone-number" data-required="1">Phone Number </label>
                        <div class="row">
                            <div class="col">
                                <select name="country_code" id="country-code" class="form-control">
                                    <option value="IN">+91 (IN)</option>
                                </select>
                            </div>
                            <div class="col">
                                <input type="text" name="last_name" id="phone-number" 
                                    class="form-control" placeholder="Phone Number">
                            </div>
                          </div>
                    </div>

                    <div class="form-group">
                            <label for="specialty" data-required="1">Specialty </label>
                            <select id="specialty" name="specialty" class='form-control text-capitalize' data-required="1"></select>
                        </div>

                    <div class="form-group">
                        <label for="user-password" data-required="1">Password </label>
                        <div class="row">
                            <div class="col">
                                <input id="user-password" 
                                    name="user_password" class='form-control' type="password"
                                    data-required="1" autocomplete="off" placeholder="Password">
                            </div>
                            <div class="col">
                                <input id="confirm-user-password" 
                                    name="user_password" class='form-control' type="password"
                                    data-required="1" autocomplete="off"  
                                    placeholder="Confirm password">
                            </div>
                          </div>
                    </div>

                    <div class="mt-4 text-center">
                        <a href="/signup/otp-verification/user-entry" style="text-decoration: none;">
                            <div class="btn btn-primary pointer">
                                <i class="material-icons align-middle">touch_app</i>
                                <label class="mb-0 pointer"> Let's Get Started</label>
                            </div>
                        </a>
                    </div>
                    
                </div>
            </div>
           
        </div>

    </section>


    <% include ../../../partials/footer %>

    <script src="/src/js/pg-scripts/healthcare-provider-signup.js"></script>

</body>

</html>