<!DOCTYPE html>
<html>

<head>
    <% include ../partials/common/load-scripts %>
</head>

<body>
    <% include ../partials/common/left-pane %>
    <% include ../partials/common/header %>

    <div id="app-right-pane-container">

        <div class="container mt-3">

            <!-- row1 / col 1: outer columns -->
            <div class="col-sm-12 col-md-12 col-lg-5 col-xl-5">

                <div class="pad-10" id="account-row1-col1-1">

                    <!-- profile information tile -->
                    <div class="tile white-tile">

                        <div class="mb-2">

                            <div class="text-center">
                                <div class="mx-auto position-relative text-center" style="width:150px">
                                    <img src="/gfs/images/noimage-icon-x225.png" class="rounded-circle"
                                        alt="[PROFILE PIC NOT FOUND. TRY UPLOADING AGAIN]" style="max-width: 100%;">
                                    <div class="upload-img-container" style="top: 45%;right:-10px;">
                                        <input type="file" name="personal_profile_image" id="update-profile-img-input"
                                            class="entry-field" title="upload image">
                                        <div class="input-overlay">
                                            <i class="material-icons">camera_alt</i>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-2 text-center">
                                <h3 class="text-capitalize">Pramod Ashta</h3>
                            </div>

                        </div>

                        <div class="mt-2 p-2 border-bottom">
                            <div class="d-inline-block align-top">
                                <i class="material-icons align-middle">email</i>
                            </div>
                            <div class="d-inline-block text-lower ml-2 small">
                                <div>pramodashta@gmail.com</div>
                                <div class="text-muted">Email</div>
                            </div>
                        </div>

                        <div class="mt-2 p-2 border-bottom">
                            <div class="d-inline-block align-top">
                                <i class="material-icons align-middle">call</i>
                            </div>
                            <div class="d-inline-block text-lower ml-2 small">
                                <div>+92 880120910290129</div>
                                <div class="text-muted">Phone</div>
                            </div>
                        </div>

                        <div class="mt-2 p-2 border-bottom">
                            <div class="d-inline-block align-top">
                                <i class="material-icons align-middle">person</i>
                            </div>
                            <div class="d-inline-block text-lower ml-2 small">
                                <div>Urologist</div>
                                <div class="text-muted">Specialty</div>
                            </div>
                        </div>

                        <div class="mt-2 p-2">
                            <div class="d-inline-block align-top">
                                <i class="material-icons align-middle">fingerprint</i>
                            </div>
                            <div class="d-inline-block text-lower ml-2">
                                <div>*****************</div>
                                <div class="text-muted small">Password</div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    </div>

</body>

</html>