<!DOCTYPE html>
<html>

<head>
    <% include ../partials/common/load-scripts %>
</head>

<body>
    <% include ../partials/common/left-pane %>
    <% include ../partials/common/header %>

    <div id="app-right-pane-container">
        
        <div class="container" >

            ssss
           
        </div>
    </div>

</body>

</html>