@import url("/gfs/styles/core.css");

body{
    background-color: whitesmoke;
}

/* summary page */
#summary .profile-img{
    width: 150px;
    height: 150px;
    margin: 0 auto;
    position: relative;
}

#summary .profile-img img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

#summary .jumbo-profile-initals{
    width:100%;
    height:100%;
    border-radius: 50%;
    background-color: #ffc107;
    color: darkslategrey;
    font-size: 3em;
    text-align: center;
    line-height: 150px;
}