<!DOCTYPE html>
<html>

<head>
    <% include ../../partials/common/load-scripts %>
</head>

<body>
    <% include ../../partials/common/left-pane %>
    <% include ../../partials/common/header %>

    <div id="app-right-pane-container">

        <div class="pg-section container-fluid mt-3 tab-parent-container">
            
            <div class="tab-container">
                <div class="tab text-tab" showel="subscriptions-per-package-container">Packages</div>
                <div class="tab text-tab" showel="subscriptions-per-app-container">Individual Apps</div>
            </div>

            <div class="tab-content-container">
                <div id="subscriptions-per-package-container" class="mb-4 tab-content"></div>
                <div id="subscriptions-per-app-container" class="mb-4 tab-content"></div>
            </div>

        </div>

    </div>

    <script>
        //Bind tabs
        $('.tab').tab();
        $('.tab[showel="subscriptions-per-package-container"]').trigger('click');
    </script>

    <script type="module" src="/src/js/healthcare-provider-subscriptions.js"></script>

</body>

</html>